# Python virtual environment
.venv/

# PyInstaller build artifacts
build/
dist/
*.spec

# Python cache
__pycache__/
*.pyc

# Editor/IDE specific files
.idea/
.vscode/

# Old script versions
obsStart_fixed*.py
obsStart2.py

# Installed packages
psutil
